@import '../../mixin';

.alignText {
  text-align: left;
  font-size: 22px;
}

.subTitle {
  display: block;
  margin-top: 21px;
  font-size: 16px;
  font-weight: 400;
}

.fullName {
  display: flex;
  margin-top: 22px;
}

.profileContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 24px;
}

.label {
  font-size: 14px;
  line-height: 16px;
  width: 150px;
}

.fullName {
  display: flex;
  gap: 40px;

  @include md {
    gap: 20px;
  }
  @include sm {
    flex-direction: column;
  }
}
.dateBox {
  display: flex;
  align-items: center;
  margin-top: 26px;

  @include sm {
    display: block;
  }
}

.inputsBox {
  display: flex;
  margin-top: 17px;
  margin-bottom: 69px;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.labelWidth {
  width: unset;
  margin-right: 12px;

  @include sm {
    margin-right: 0;
    width: 148px;
  }
}

.labelWidthLarge {
  margin-right: 40px;
}

.inputWidth {
  width: 127px;

  @include md {
    width: 110px;
  }
  @include sm {
    width: 187px;
  }
}

.inputWidthData {
  width: 143px;

  @include sm {
    width: 187px;
  }
}

.inputWidthTelephone {
  width: 187px;
}

.border {
  border: 0.5px solid #00000099;
  border-radius: 4px;
}

.borderColorNone {
  border: unset;
}

// .inputProfile {
//   margin-top: 17px;
// }
.dropdownlistBox {
  display: flex;
  margin-top: 17px;
  &:nth-last-child(2) {
    margin-bottom: 42px;
  }
}
.borderDropdownList {
  border: 0.5px solid rgba(70, 70, 70, 0.55);
  border-radius: 4px;
  padding: 7px 10px;
  width: 187px;
  justify-content: space-between;
}

.button {
  margin-top: 60px;
  padding: 9px 54px;
}

.iconBox {
  color: white;
  border-radius: 50%;
}

.icon {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}
