@import '../../mixin';

.pageWrapper {
  height: 628px;
  width: 100%;
  display: flex;
  justify-content: space-between;

 .container {
  width: 297px;
  text-align: left;
  margin-top: 67px;

  @include md {
   width: 200px;
  }

  .list {
    margin-bottom: 17px;
 }
  .item {
    font-size: 16px;
    line-height: 19px;
    color: #000000;

    &:focus {
      font-weight: 500;
    }
  }

 }

}